/* Variables */
/* General */
html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

/* Scroolbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
  background-color: #582da8;
}

/* Responsive */
/* Section Best Selling Products and Section Sommelier's Choice */
.products-grid {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .products-grid {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .products-grid {
    max-width: 950px;
  }
}
@media (min-width: 1024px) {
  .products-grid {
    max-width: 1170px;
  }
}
.products-grid h2 {
  color: #333;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .products-grid h2 {
    text-align: left;
  }
}
.products-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .products-grid-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Section Deal */
.deal-container {
  background-color: #B9BABC;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .deal-container {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .deal-container {
    padding: 2rem 8rem;
  }
}
.deal-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deal-container-content span, .deal-container-content h3, .deal-container-content a, .deal-container-content p {
  color: #333;
}
.deal-container-content h3, .deal-container-content a {
  font-weight: 700;
}
.deal-container-content h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 1rem 0 2rem;
}
.deal-container-content p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .deal-container-content p {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .deal-container-content p {
    width: 85%;
  }
}
.deal-container-content a {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-top: 1rem;
}
.deal-container-content a i {
  font-size: 1.5rem;
}
.deal-container-image {
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .deal-container-image {
    margin-top: 0;
  }
}
.deal-container-image img {
  width: 60%;
  height: 60%;
}
@media (min-width: 768px) {
  .deal-container-image img {
    width: 100%;
    height: 100%;
  }
}

/* Section Newsletter */
.newsletter-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .newsletter-container {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .newsletter-container {
    max-width: 950px;
  }
}
@media (min-width: 1024px) {
  .newsletter-container {
    max-width: 1170px;
  }
}
.newsletter-container h4 {
  color: #333;
  font-size: 1.8rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .newsletter-container h4 {
    padding: 0;
  }
}
.newsletter-container form {
  display: flex;
  justify-content: center;
}
.newsletter-container form input[type=email] {
  width: 50%;
  padding: 8px 16px;
  margin-right: 1rem;
  color: #333;
  border: 2px solid #B9BABC;
}
@media (min-width: 992px) {
  .newsletter-container form input[type=email] {
    margin-right: 2rem;
  }
}
.newsletter-container form input[type=email]::placeholder {
  color: #333;
}
@media (min-width: 992px) {
  .newsletter-container form input[type=email]:focus {
    border-color: #582da8;
  }
}
.newsletter-container .social-media {
  margin: 2rem 0;
}
.newsletter-container .social-media a {
  margin-right: 2rem;
}
.newsletter-container .social-media a:last-child {
  margin-right: 0;
}
.newsletter-container .social-media a i {
  color: #333;
  font-size: 2rem;
}

/* Buttons */
.btn {
  background-color: #582da8;
  color: #FFF;
  border: 2px solid #582da8;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 16px;
}
@media (min-width: 992px) {
  .btn {
    cursor: pointer;
    transition: 0.5s;
  }
  .btn:hover {
    background-color: #FFF;
    color: #582da8;
  }
}

/* Card */
.product-card {
  position: relative;
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #B9BABC;
}
.product-card:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .product-card {
    width: 22.5%;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .product-card {
    transition: 0.5s;
  }
  .product-card:hover {
    border-color: #582da8;
  }
}
.product-card-label {
  background-color: #582da8;
  color: #FFF;
  font-weight: 300;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 6px;
}
@media (min-width: 768px) {
  .product-card-label {
    font-size: 0.8rem;
    top: 0.5rem;
    right: 0.5rem;
    padding: 4px;
  }
}
@media (min-width: 992px) {
  .product-card-label {
    font-size: 1rem;
    top: 1rem;
    right: 1rem;
    padding: 6px;
  }
}
.product-card img {
  width: 50%;
  height: 50%;
}
@media (min-width: 768px) {
  .product-card img {
    width: 60%;
    height: 60%;
  }
}
.product-card-year, .product-card-name, .product-card-price, .product-card-rating {
  margin-bottom: 1rem;
}
.product-card-year {
  margin-top: 1rem;
  color: #B9BABC;
}
.product-card-name {
  color: #333;
  font-size: 1.3rem;
}
.product-card-price {
  color: #582da8;
  font-size: 1.5rem;
  font-weight: 700;
}
.product-card-rating i {
  color: #333;
  font-size: 1.4rem;
}

/*# sourceMappingURL=app.css.map */
